<div class="component favorites-page">
  <ul class="grid favorite-books-grid">
    <li class="grid-item book" *ngFor="let book of favoriteBooks">
      <div class="book-shape">
        <div class="thumbnail">
          <img [src]="book.previewThumbnail" alt="">
        </div>
        <div class="information">
          <div class="description">
            <p>{{ book.description | textRestriction: 100 }}</p>
          </div>
          <div class="rating"><small>{{ book.averageRating }}</small></div>
          <div class="action"></div>
        </div>
        <div class="actions">
          <button (click)="onDetailsClick(book)" color="primary" mat-mini-fab>
            <mat-icon>read_more</mat-icon>
          </button>

          <button (click)="onFavoriteClick(book)" color="warn" mat-mini-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>

      <div class="book-title">
        <p>{{ book.title | textRestriction: 36 }}</p>
      </div>
    </li>
  </ul>

  <div class="not-available-overlay">
    <h1>You Have No Favorite Books</h1>
  </div>

  <div class="trash-btn">
    <button (click)="onTrashClick()" mat-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

